<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zhangbo.wiki_back.mapper.KeywordsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.zhangbo.wiki_back.entity.Keywords">
        <id column="id" property="id" />
        <result column="author" property="author" />
        <result column="key_words" property="keyWords" />
        <result column="likes" property="likes" />
        <result column="create_time" property="createTime" />
        <result column="modified_time" property="modifiedTime" />
    </resultMap>

</mapper>
